{% extends "layout.html" %}

{% block title %}
    search
{% endblock %}

{% block main %}
<form action="/search" method="post">
    <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="search" placeholder="search ISBN , author or title.." type="text" id = "search">
        <button class="btn btn-primary" type="submit"  id ="searchbutton">search</button >
    </div>
</form>

<script>
    document.querySelector('form').onsubmit = function()
    {
        if (!document.querySelector('#search').value)
        {
            alert('you are not type the book');
            return false;
        }
    }
    </script>

{% endblock %}